[submodule "rooter.sh"]
	path = rooter.sh
	url = git://github.com/yeban/rooter.sh.git
[submodule "z"]
	path = z
	url = git://github.com/rupa/z.git
[submodule "rbenv"]
	path = rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "ruby-build"]
	path = ruby-build
	url = https://github.com/sstephenson/ruby-build.git
